.title {
  position: absolute;
  top: 2vh;
  left: 50%;
  font-size: 2rem;
}

.controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  right: 5vw;
  gap: 20px;
}

.sliderGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected {
  border: 1px solid #646cff;
}
